{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}

{% if error == "no" %}
<script>
    alert('Password Changed Successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Invalid Login Credentials,Try Again');
</script>

{% endif %}
<div class="container mt-5">
<div class="row">
    <div class="col-sm-6">
        <img src="{% static 'images/notes0.jpg' %}">
    </div>
    <div class="col-sm-6">
        <h2 class="text-center">CHANGE PASSWORD</h2>
        <HR>
        <form method="post">
            {% csrf_token %}
            <label>Old password</label>
                <input type="password" class = "form-control" placeholder="Enter Old Password" name="old">
            <label>New password</label>
                <input type="password" class = "form-control" placeholder="Enter New Password" name="new">
            <label>Confirm password</label>
                <input type="password" class = "form-control" placeholder="Re Enter New Password" name="confirm">

                <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
        </form>
    </div>
</div>
</div>


{% endblock %}